

.scroll-down svg{
    position: relative;
    top: 8px;
    width: 8px;
    height: 8px;
    animation: move-wheel 1.5s linear infinite;
}

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }
    50%{
        opacity: 0.7;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}